<mat-drawer-container class="example-container" autosize>
    <mat-drawer mode="side" opened="true" #drawer>
      <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
      <mat-nav-list>
        <a mat-list-item *ngFor="let list of taskLists" (click)="selectList(list.id)">{{ list.name }}</a>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <!-- Main content will go here -->
    </mat-drawer-content>
  </mat-drawer-container>
  